
//  ============ Акции ===========

.action__inner {
  margin-bottom: 50px;
    h1 {
      font-size: 30px;
      margin-bottom: 50px;
      line-height: 34px;
    }
}

.action-inner__items {
  display: flex;
}

.action-inner__item {
  width: 370px;
  height: 167px;
  border-radius: 5px;
  border: 1px solid $border-color;
  margin-right: 30px;
  display: flex;
  position: relative;
    h2 {
      font-size: 50px;
      color: $second-font-color;
      margin: 40px 45px 0 30px;
    }
    p {
      font-size: 16px;
      margin: 25px 10px 0 0;
    }
}

.action-inner-item__img {
  padding: 1px;
  
    img {
      margin-right: 30px;
      width: 164px;
      height: 164px;
    } 
}

.action-inner-item__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: $second-font-color;
  background-color: $second-bgcolor;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 8px;
}

@media (max-width: 1020px) {
  .action__inner {
    overflow: hidden;
    padding: 0 18px;
    margin-bottom: 24px;
      h1 {
        font-size: 20px;
        margin-bottom: 23px;
        line-height: 34px;
      }
  }
}

@media (max-width: 760px) {
  .action-inner__item {
    margin-right: 15px;
  }
  .action-inner__item {
    flex-direction: column;
    min-width: 210px;
    max-width: 210px;
    height: 168px;
    align-items: center;
    padding: 0 14px;
      h2 {
        margin: 15px 0 5px 0;
      }
      p {
        font-size: 12px;
        margin: 0;
        line-height: 20px;
      }
  }
  .action-inner-item__img {
    padding: 1px;
      img {
        margin: 0;
        width: 94px;
        height: 94px;
      } 
  }
}