
//  ============ Footer ===========

.footer__inner {
  display: flex;
  padding: 24px 0 48px 0;
}

.footer-inner__contacts {
  width: 100%;
  max-width: 500px;
    img {
      margin-bottom: 24px;
    }
    h2 {
      font-size: 20px;
      margin-bottom: 25px;
    }
    h3 {
      font-size: 16px;
      margin-bottom: 20px;
    }
    p {
      font-size: 12px;
    }
}

.footer-inner-contacts__social {
  display: flex;
  margin-bottom: 25px;
    object {
      margin-right: 22px;
    }
}

.footer__item {
  width: 100%;
  max-width: 250px;
  margin-left: 20px;
    ul {
      margin-top: 30px;
      list-style-type: none;
        li {
          margin-bottom: 15px;
            a {
              text-transform: none;
              font-size: 12px;
              text-decoration: none;
                &:hover {
                  color: $main-bgcolor;
                } 
            }
            &:before {
              font-family: 'icomoon';
              color: $main-bgcolor;
            }  
        }
    }
    h4 {
      margin-top: 15px;
      cursor: pointer;
      font-size: 16px;
    }
}

.footer-inner-links__more {
  text-decoration: underline !important;
}

@media (max-width: 760px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-inner__contacts {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
      img {
        display: none;
      }
  }

  .footer__item {
    margin-left: 0;
    ul {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.2s linear;
      margin-top: 10px;
      text-align: center;
      margin-bottom: 0;
    }
    h4 {
      margin-top: 10px;
      margin-bottom: 0px;
      position: relative;
      transition: 0.2s linear;
      text-align: center;
        &:after {
          content: "\e902";
          font-family: 'icomoon';
          color: $main-bgcolor;
          font-size: 15px;
          margin-left: 10px;
          top: 4px;
          position: absolute;
          transform: rotate(270deg);
          transition: 0.2s linear;
        }
    }
  }

  .footer__wrap.activefoot {
    &:after {
      transform: rotate(360deg);
    }
  }

  .footer__item.activefoot {
    h4 {
      &:after {
        transform: rotate(360deg);
      }
    }
    ul {
      max-height: 140px;
    }
  }
}

