
// =======  Styles for header ======= 

.header {
  margin-bottom: 22px;
}

.header__inner {
	width: 100%;
	display: grid;
  align-items: center;
  grid-template-columns: minmax(170px, 270px) minmax(300px, 570px) 1fr;
  grid-template-rows: auto 48px;
  grid-gap: 15px 30px;  
		h1 {
			font-size: 20px;
      font-weight: bold;
      text-align: right;
    } 
    img {
      width: 100%;
    }
}

.header-inner__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}

.header-inner__btn {
  height: 100%;
  border-radius: 5px;
    a {
      color: $second-font-color;
      font-weight: 700;
      margin-left: 10px;
      font-size: 13px;
    }
}

.header-inner__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  border: 1px solid $main-bgcolor;
  padding: 7px 13px 8px 13px;
  font-size: 14px;
    object {
      margin-right: 10px;
    };
}

.header-inner-search__input {
  display: flex;
  align-items: center;
}

.header-inner-search__menu {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 100%;
  border-left: 1px solid $main-bgcolor;
    select {
      width: 100%;
      border: none;
      outline: none;
      padding-left: 10px;
    }
}

.header-inner__icons {
  display: flex;
  align-items: center;
    p {
      font-size: 16px;
    }
}

.header-inner-icons__item {
  margin-right: 20px;
}

