// ========== Middle slider ==========

.middle-slider__inner {
  display: grid;
  grid-template-columns: minmax( 400px, 670px) minmax(420px, 1fr);
  grid-template-rows: 190px 190px;
  grid-auto-flow: column;
  grid-gap: 25px 30px;
  margin-bottom: 96px;
    button {
      border-radius: 5px;
      background-color: $second-font-color;
      padding: 13px 35px;
      font-size: 18px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.middle-slider-inner__wrapper {
  display: flex;
  border: 3px solid $main-bgcolor;
  grid-row: 1/3;
  border-radius: 5px;
  padding: 23px 0 28px 69px;
}

.middle-slider__slick {
  display: flex !important;
  flex-direction: row;
}

.slick-dots {
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 45%;
  list-style-type: none;
}

.slick-dots li button {
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin-right: 25px;
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      background-color: $main-bgcolor;
      display: block;
      position: absolute;
      border-radius: 50%;
      transition: 0.2s ease-in-out;
      border: 3px solid $main-bgcolor;
    }
}

.slick-dots li.slick-active button {
  &:after {
    border: 3px solid $main-bgcolor;
    background-color: #fff;
    transition: 0.2s linear;
  }
}


.middle-slider-inner-wrapper__item {
  border: 1px solid grey;
}

.middle-slider-inner-wrapper__img {
   img {
     width: 100%;
     max-width: 310px;
     height: auto;
   }
}

.middle-slider-inner-wrapper__price {
  border-radius: 5px;
  background-color: $second-bgcolor;
  padding: 26px 15px 26px 15px;
  width: 160px;

    h2 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 5px;
      color: $second-font-color;
    }
    h3 {
      font-size: 14px;
      font-weight: 700;
      text-decoration: line-through;
    }
}

.middle-slider-inner-wrapper__text {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
    h1 {
      font-size: 23px;
    }
}

.middle-slider-inner__item {
  border-radius: 5px;
  background-color: $second-bgcolor;
  padding: 23px 25px 25px 40px;
  display: flex;
  justify-content: space-between; 
}

.green {
  background-color: $main-bgcolor;
}

.middle-slider-inner-item__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
    h2 {
      color: $second-font-color;
      font-size: 23px;
    }
}

.middle-slider-inner-wrapper__text {
    img {
      display: none;
    }
}

@media (max-width: 1020px) {
  .middle-slider__inner {
    padding: 0 18px;
    grid-template-columns: minmax( 200px, 670px);
    grid-template-rows: 190px;
    grid-auto-flow: row;
    grid-gap: 25px 30px;
    margin-bottom: 96px;
    align-items: center;
    margin-bottom: 48px;
  }
  .middle-slider__slick {
    padding: 0 2px;
  }

  .middle-slider__main {
    display: flex;
    justify-content: center;
  }
  
  .middle-slider-inner__wrapper {
    padding: 15px 5px 70px 69px;
    margin: 0 -18px;
  }
}

@media (max-width: 760px) {
  .middle-slider-inner__wrapper {
    margin: 0 -5px;
  }
}

@media (max-width: 592px) {
  .slick-btn {
    top: 87%;
  }
  .slick-next {
    right: 23px;
  }
  .slick-prev {
    left: 23px;
  }
  .slick-dots {
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 40%;
    list-style-type: none;
  }
  .middle-slider__slick {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .middle-slider-inner__wrapper {
    justify-content: center;
    padding: 15px 0;
    padding-bottom: 80px;
    margin: 0px -29px;
  } 
  .middle-slider-inner-wrapper__text {
    align-items: center;
    width: 285px;
    h1 {
      font-size: 16px;
      margin-bottom: 40px;
    }
    img {
      display: block;
      width: 217px;
      margin-bottom: 20px;
    }
  }
  .middle-slider-inner-wrapper__img {
    display: none;
  }
  .middle-slider-inner__item {
    border-radius: 5px;
    padding: 18px;
  }
  .middle-slider-inner-item__text {
    width: 130px;
      h2 {
        color: $second-font-color;
        font-size: 16px;
      }
      button {
        font-size: 12px;
        padding: 8px 20px;
        width: 115px;
      }
  }
  .middle-slider-inner-item__icons {
    width: 85px;
    height: 85px;
      object {
        width: 100%;
        height: 100%;
      }
  }
}





