
//  ============ Популярные товары ===========

.popular-toys__inner {
  margin-bottom: 82px;
    h1 {
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 24px;
    }
}

.popular-toys-inner__slider {
  display: flex !important;
  margin: 15px -13px;
  outline: none;
}

.slick-btn.popular.slick-next {
  right: -8px;
}

.slick-btn.popular.slick-prev {
  left: -8px;
}


.slick-dots-popular {
  position: absolute;
  display: flex;
  bottom: -35px;
  left: 47%;
  list-style-type: none;
}

.slick-dots-popular li button {
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin-right: 25px;
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      background-color: $main-bgcolor;
      display: block;
      position: absolute;
      border-radius: 50%;
      transition: 0.2s ease-in-out;
      border: 3px solid $main-bgcolor;
    }
}

.slick-dots-popular li.slick-active button {
  &:after {
    border: 3px solid $main-bgcolor;
    background-color: #fff;
    transition: 0.2s linear;
  }
}



.popular-toys-inner-slider__item {
  width: 100%;
  max-width: 270px;
  max-height: 360px;
  margin: 10px 15px; 
  border-radius: 5px;
  border: 1px solid #D2D2D2;
  cursor: pointer;
  transition: 0.2s linear;
  padding: 18px 15px 27px 15px;
  position: relative;
    img {
      width: 100%;
      max-height: 238px;
    }

}

.popular-toys__check {
  cursor: pointer;
  -webkit-appearance: none;
    &:after {
      content: '\e904';
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'icomoon';
      position: absolute;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: $border-color;
      color: #fff;
      font-size: 17px;
      top: 10px;
      right: 10px;
      transition: 0.2s linear;
    }
}

.popular-toys__check:checked {
  &:after {
    background-color: $main-bgcolor;
    transition: 0.2s linear;
  }
}

.popular-toys__buy {
  cursor: pointer;
  -webkit-appearance: none;
    &:after {
      content: '\e903';
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'icomoon';
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $main-bgcolor;
      color: #fff;
      font-size: 27px;
      bottom: 10px;
      right: 10px;
      transition: 0.2s linear;
    }
}

.popular-toys__buy:checked {
  &:after {
    background-color: $second-bgcolor;
    transition: 0.2s linear;
  }
}

.popular-toys-inner-slider__item.home {
  margin: 10px 15px; 
}

.popular-toys-inner-slider__item:hover {
  box-shadow: 0px 0px 10px $main-bgcolor;
  border: 1px solid transparent;
}

.popular-toys-inner-slider-item__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
    p {
      font-size: 14px;
    }
    h3 {
      font-size: 18px;
    }
}

.popular-toys__mobile {
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 -15px;
}

.popular-toys__mobile::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (max-width: 1020px) {
  .popular-toys__inner {
    padding: 0 8px;
      h1 {
        font-size: 20px;
      }
  }
  .popular-toys__inner {
    margin-bottom: 22px;
  }
  .popular-toys-inner-slider-item__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
      p {
        font-size: 12px;
      }
      h3 {
        font-size: 16px;
      }
  }
  .popular-toys-inner__slider {
    overflow: hidden;
    padding: 5px 0;
    display: none !important;
  }
  .popular-toys-inner-slider__item.home {
    min-width: 210px;
    margin-right: 0;
  }
}
