
//  ============ Блок выбора =========== 

.select__price {
  margin-bottom: 40px;
}

#slider-summ_attachment {
	background-color: #2E7204;
	height: 4px;
	border-radius: 0;
	border-color: transparent;
	border: 0;
	box-shadow: none;
  top: 8px;
  padding: 0 7px;
  margin-bottom: 20px;
}
.noUi-connects {
	border-radius: 0;
}
.noUi-connect {
	background-color: #4DBC08;
}
html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
	right: -9px;
}
.noUi-horizontal .noUi-handle {
	width: 17px;
	height: 17px;
  border-radius: 50%;
  border: none;
	box-shadow: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: #4DBC08;
	transition: border-color .3s;
  top: -5px;
  outline: none;
  cursor: pointer;
}
.noUi-horizontal .noUi-handle:active,
.noUi-horizontal .noUi-handle:focus {
	border-color: var(--clr-helper);
}
.noUi-horizontal .noUi-handle:after, 
.noUi-horizontal .noUi-handle:before {
	display: none;
}

.summ_attachment-element {
  display: flex;
  width: 100%;
  padding: 10px 6px;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  margin-top: 5px;
  justify-content: space-between;
    input {
      max-width: 100px;
      border: none;
      font-size: 14px;
      outline: none;
        &:last-child {
          text-align: right;
        }
    }
}

.summ_attachment-container {
  display: flex;
  flex-direction: column;
    label {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 5px;    
    }
}

.select__brand,
.select__exist {
  margin-bottom: 20px;
  h4 {
    font-size: 14px;
    margin-bottom: 20px;   
  }
  form {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-in-out;
  }
}

.select__exist {
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.summ_attachment-box {
  overflow: hidden;
  max-height: 0;
  transition: 0.2s linear;
  padding-right: 5px;
  margin-right: -5px;

}

.select__btn.active {
  &:after {
    transition: 0.2s linear;
    transform: rotate(90deg);
  }
}

.select__btn {
  font-size: 14px;
  cursor: pointer;
  position: relative;
    &:after {
      content: '\e901';
      font-family: 'icomoon';
      transform: rotate(-90deg);
      position: absolute;
      color: $border-color;
      right: 0;
      font-size: 12px;
      top: 5px;
      transition: 0.2s linear;
    }
}

.select__checkbox {
  position: relative;
  margin-bottom: 16px;
  display: flex;
}

.select__checkbox.lock {
  label {
    opacity: 0.3;
    &:after {

    }
  }
}

.select__check-inp {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
    &:checked + .select__check-lab:after {
      opacity: 1;
    }
}

.select__check-lab {
  font-size: 14px;
  padding-left: 40px;
  cursor: pointer;
  padding-top: 3px;
    &:before {
      content: '';
      background-color: #fff;
      display: block;
      width: 24px;
      height: 24px;
      border: 1px solid #D2D2D2;
      border-radius: 5px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &:after {
      content: '';
      display: block;
      width: 23px;
      height: 23px;
      background: url("../img/check.svg") no-repeat;
      background-size: 23px 23px;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      transition: 0.1s ease-in-out;
    }
}

.select {
  .slick-btn {
    top: 87%;
  }
  .slick-next {
    right: 23px;
  }
  .slick-prev {
    left: 23px;
  }
  .slick-dots {
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 36%;
    list-style-type: none;
    bottom: 37px;
  }
  .middle-slider__slick {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .middle-slider-inner__wrapper {
    justify-content: center;
    padding: 15px 0;
    padding-bottom: 80px;
    margin: 0px 0px;
  } 
  .middle-slider-inner-wrapper__text {
    align-items: center;
    width: 100%;
    h1 {
      font-size: 16px;
      text-align: center;
      margin-bottom: 40px;
      padding: 0 50px;
    }
    img {
      display: block;
      width: 217px;
      margin-bottom: 20px;
    }
  }
  .middle-slider-inner-wrapper__img {
    display: none;
  }
  .middle-slider-inner__item {
    border-radius: 5px;
    padding: 18px;
  }
  .middle-slider-inner-item__text {
    width: 130px;
      h2 {
        color: $second-font-color;
        font-size: 16px;
      }
      button {
        font-size: 12px;
        padding: 8px 20px;
        width: 115px;
      }
  }
  .middle-slider-inner-item__icons {
    width: 85px;
    height: 85px;
      object {
        width: 100%;
        height: 100%;
      }
  }
}

.mob-select__btn {
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 700;
  position: relative;
    &:before {
      content: '\e905';
      font-family: 'icomoon';
      // position: absolute;
      margin-right: 10px;
      font-size: 22px;
      font-weight: 300;
      
    }
    &:after {
      content: '\e901';
      font-family: 'icomoon';
      transform: rotate(-90deg);
      position: absolute;
      color: #fff;
      right: 20px;
      font-size: 15px;
      top: 36%;
      transition: 0.2s linear;
    }
    &:hover + .select {
      border: 1px solid $second-bgcolor;
    }
}

.mob-select__btn.active {
  &:after {
    transition: 0.2s linear;
    transform: rotate(90deg);
  }
}

@media (max-width: 790px) {
  .category__inner {
    position: relative;
  }
  .middle-slider-inner__wrapper {
    display: none;
  }
  .select {
    overflow: hidden;
    max-height: 0;
    transition: 0.2s linear;
    padding: 0 10px;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    // right: 10px;
    // left: 10px;
    top: 48px;
    border: 1px solid #4DBC08;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    max-width: 500px;
  }
  .select__price {
    margin-top: 30px;
  }
  .category__inner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

