
//  ============ Немного SEO текста ===========

.seo__inner {
  margin-bottom: 60px;
    h1 {
      font-size: 30px;
      margin-bottom: 30px;
    }
    p {
      font-size: 12px;
      line-height: 18px;
    }
}

@media (max-width: 1020px) {
  .seo__inner {
    margin-bottom: 10px;
    padding: 0 8px;
      h1 {
        font-size: 20px;
      }
  }
}