$main-bgcolor: #4DBC08;
$second-bgcolor: #FF4C17;
$elem-bgcolor: #EBFFDE;
$main-font: 'Ubuntu';
$main-font-color: #000000;
$second-font-color: #ffffff;
$item-color: #C4C4C4;
$border-color: #D2D2D2;

:root {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-family: $main-font;
}

h1 {
	font-size: 30px;
}

p {
	padding: 0;
	margin: 0;
	font-family: $main-font;
}

a {
	padding: 0;
	margin: 0;
	color: $main-font-color;
	text-transform: uppercase;
	text-decoration: none;
	font-family: $main-font;
	transition: 0.2s linear;
}

a:hover {
	color: $main-bgcolor;
}

body {
	font-family: $main-font;
	color: $main-font-color;
	font-size: 12px;
	font-weight: 500;
	margin: 0;
	// -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -webkit-tap-highlight-color: transparent;
}

.fixed {
	overflow: hidden;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 -15px 22px -15px;
}

footer {
	background-color: $elem-bgcolor;
}

button {
	background-color: $main-bgcolor;
	border: none;
	border-radius: 5px;
	display: flex;
  justify-content: center;
	align-items: center;
	transition: 0.2s linear;
	cursor: pointer;
	outline: none;
}

button:hover {
	background-color: $second-bgcolor;
}

.slick-arrow.slick-hidden {
	display: block;
}


.container {
	max-width: 1220px;
	width: 100%;
	margin: 0 auto; 
	padding: 0 25px;
}

.orange {
	background-color: $second-bgcolor;
}

.green {
  background-color: $main-bgcolor;
}

// ======= Главная ========

@import 'header';
@import 'cat-line';
@import 'main-slider';
@import 'all-cat';
@import 'middle-slider';
@import 'popular-toys';
@import 'action';
@import 'popular-brands';
@import 'seo';
@import 'subscribe';
@import 'footer';

// ======= Каталог ========

@import 'nav-line';

// ======= Категория товаров ========

@import 'category';
@import 'sub-cat';
@import 'sort';
@import 'toys';
@import 'select';

// ======= Карточка товара ========

@import 'toy';


