:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 30px;
}

p {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

a {
  padding: 0;
  margin: 0;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  transition: 0.2s linear;
}

a:hover {
  color: #4DBC08;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.fixed {
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 -15px 22px -15px;
}

footer {
  background-color: #EBFFDE;
}

button {
  background-color: #4DBC08;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s linear;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #FF4C17;
}

.slick-arrow.slick-hidden {
  display: block;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.orange {
  background-color: #FF4C17;
}

.green {
  background-color: #4DBC08;
}

.header__inner {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(170px, 270px) minmax(300px, 570px) 1fr;
  grid-template-rows: auto 48px;
  grid-gap: 15px 30px;
  margin-top: 10px;
}

.header__inner h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.header__inner img {
  width: 100%;
}

.header-inner__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}

.header-inner__btn {
  height: 100%;
  border-radius: 5px;
}

.header-inner__btn a {
  color: #ffffff;
  font-weight: 700;
  margin-left: 10px;
  font-size: 13px;
}

.header-inner__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #4DBC08;
  padding: 7px 13px 8px 13px;
  font-size: 14px;
}

.header-inner__search object {
  margin-right: 10px;
}

.header-inner-search__input {
  display: flex;
  align-items: center;
}

.header-inner-search__menu {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 100%;
  border-left: 1px solid #4DBC08;
}

.header-inner-search__menu select {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
}

.header-inner__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-inner__icons p {
  width: 120px;
  font-size: 16px;
  text-align: right;
}

.header-inner-icons__item {
  margin-right: 5px;
}

.header__inner-mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 5px 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header-inner-mobile__burg {
  position: relative;
  width: 25px;
  height: 4px;
  background-color: #000000;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.header-inner-mobile__burg:before {
  position: absolute;
  left: 0;
  top: -8px;
  content: ' ';
  display: block;
  width: 25px;
  height: 4px;
  background-color: #000000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.header-inner-mobile__burg:after {
  position: absolute;
  left: 0;
  top: 8px;
  content: ' ';
  display: block;
  width: 25px;
  height: 4px;
  background-color: #000000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.header-inner-mobile__burg.active {
  background-color: transparent;
}

.header-inner-mobile__burg.active:before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.header-inner-mobile__burg.active:after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.header-mobmenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 750px;
  height: 100vh;
  z-index: 2;
  transform: translateX(-100%);
  transition: 0.8s linear;
  transition-delay: 0.3s;
  background-color: transparent;
}

.header-mobmenu.activewrap {
  transform: translateX(0%);
}

.header-wrapper {
  width: 90%;
  padding: 10px 20px 30px 20px;
  background-color: #EBFFDE;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-wrapper h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
}

.header-wrapper__items {
  display: flex;
  flex-direction: column;
}

.header-wrapper__items a {
  color: #000000;
  padding: 10px 0;
  border-bottom: 1px solid #C4C4C4;
  font-size: 13px;
}

.header-wrapper__items button {
  padding: 10px 0;
  border-bottom: 1px solid #C4C4C4;
  border-radius: 0;
  text-align: left;
  background-color: transparent;
  text-transform: uppercase;
  position: relative;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 13px;
}

.header-wrapper__items button:after {
  content: '\e901';
  font-family: 'icomoon';
  color: #4DBC08;
  position: absolute;
  right: 0;
  font-size: 20px;
}

.header-wrapper__items button:before {
  content: '\e900';
  font-family: 'icomoon';
  margin-right: 10px;
}

.header-wrapper.activewrap {
  transform: translateX(0%);
}

.header-wrapper__inner {
  display: none;
  width: 100%;
}

.header-wrapper__btn {
  position: relative;
  opacity: 1;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border: 1px solid #4DBC08;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-wrapper__btn:before {
  width: 20px;
  height: 2px;
  background-color: #4DBC08;
  position: absolute;
  top: 18px;
  left: 9px;
  display: block;
  content: '';
  transform: rotate(45deg);
  transition: 0.4s ease-in-out;
}

.header-wrapper__btn:after {
  width: 20px;
  height: 2px;
  background-color: #4DBC08;
  position: absolute;
  top: 18px;
  left: 9px;
  display: block;
  content: '';
  transform: rotate(-45deg);
  transition: 0.4s ease-in-out;
}

.header-wrapper__btn.closewrap {
  opacity: 0;
}

.header-wrapper__btn.closewrap:before {
  transform: rotate(0deg);
}

.header-wrapper__btn.closewrap:after {
  transform: rotate(0deg);
}

.header-wrapper__logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.header-wrapper__logo img {
  width: 200px;
}

.header-wrapper__catalog {
  display: none;
  width: 100%;
}

.header-wrapper__catalog .header-wrapper-back__arrow {
  margin-top: 5px;
  position: relative;
  opacity: 1;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  width: 20px;
  height: 40px;
}

.header-wrapper__catalog .header-wrapper-back__arrow:before {
  content: '\e902';
  font-family: 'icomoon';
  position: absolute;
  left: 10px;
  top: 10px;
  color: #d2d2d2;
  font-size: 20px;
}

.show {
  display: block;
}

.header-wrapper__back {
  margin-top: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  cursor: pointer;
}

.header-wrapper__back h5 {
  padding-top: 5px;
  color: #000000;
  margin-left: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

@media (max-width: 1020px) {
  .header__inner {
    display: none;
  }
  .header__inner-mobile {
    display: flex;
  }
}

.cat-line {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.cat-line__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cat-line__item {
  display: flex;
  align-items: center;
}

.cat-line__item:last-child {
  margin: 0;
}

.cat-line-item__logo {
  min-width: 34px;
  min-height: 34px;
  background-color: #C4C4C4;
  border-radius: 50%;
  margin-right: 10px;
}

.cat-line-inner__more {
  margin-right: 20px;
  color: #4DBC08;
  text-decoration: underline;
}

@media (max-width: 1020px) {
  .cat-line {
    display: none;
  }
}

.main-slider {
  margin-bottom: 72px;
}

@media (max-width: 1020px) {
  .main-slider {
    margin-bottom: 22px;
  }
}

@media (max-width: 760px) {
  .main-slider {
    display: none;
  }
}

.all-cat {
  margin-bottom: 48px;
}

.all-cat h1 {
  font-size: 30px;
}

.all-cat__inner {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 192px);
  grid-gap: 24px 30px;
}

.all-cat-inner__item {
  border-radius: 5px;
  border: 1px solid #D2D2D2;
  padding-top: 25px;
  text-align: center;
  transition: 0.2s linear;
  cursor: pointer;
}

.all-cat-inner__item img {
  width: 100%;
  margin-bottom: 10px;
}

.all-cat-inner__item a {
  font-size: 14px;
}

.all-cat-inner__item:hover {
  border: 1px solid #4DBC08;
  box-shadow: 0px 0px 4px rgba(77, 188, 8, 0.5);
}

.all-cat-inner__item:hover a {
  color: #4DBC08;
}

@media (max-width: 1020px) {
  .all-cat__inner {
    padding: 0 18px;
  }
  .all-cat {
    margin-bottom: 48px;
  }
  .all-cat h1 {
    font-size: 20px;
    padding: 0 18px;
  }
  .all-cat__inner {
    margin-top: 24px;
    display: grid;
  }
}

@media (max-width: 760px) {
  .all-cat {
    margin-bottom: 25px;
  }
  .all-cat__inner {
    margin-top: 24px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(12, 210px);
    grid-template-rows: 145px;
    grid-gap: 10px 15px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .all-cat__inner::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .all-cat-inner__item {
    padding-top: 18px;
  }
  .all-cat-inner__item a {
    font-size: 12px;
  }
}

.middle-slider__inner {
  display: grid;
  grid-template-columns: minmax(400px, 670px) minmax(420px, 1fr);
  grid-template-rows: 190px 190px;
  grid-auto-flow: column;
  grid-gap: 25px 30px;
  margin-bottom: 96px;
}

.middle-slider__inner button {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 13px 35px;
  font-size: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.middle-slider-inner__wrapper {
  display: flex;
  border: 3px solid #4DBC08;
  grid-row: 1/3;
  border-radius: 5px;
  padding: 23px 0 28px 69px;
}

.middle-slider-inner-wrapper__item {
  border: 1px solid grey;
}

.middle-slider-inner-wrapper__img img {
  width: 100%;
  height: auto;
}

.middle-slider-inner-wrapper__price {
  border-radius: 5px;
  background-color: #FF4C17;
  padding: 26px 15px 26px 15px;
  width: 160px;
}

.middle-slider-inner-wrapper__price h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #ffffff;
}

.middle-slider-inner-wrapper__price h3 {
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
}

.middle-slider-inner-wrapper__text {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
}

.middle-slider-inner-wrapper__text h1 {
  font-size: 23px;
}

.middle-slider-inner__item {
  border-radius: 5px;
  background-color: #FF4C17;
  padding: 23px 25px 25px 40px;
  display: flex;
  justify-content: space-between;
}

.green {
  background-color: #4DBC08;
}

.middle-slider-inner-item__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

.middle-slider-inner-item__text h2 {
  color: #ffffff;
  font-size: 23px;
}

.middle-slider-inner-wrapper__text img {
  display: none;
}

@media (max-width: 1020px) {
  .middle-slider__inner {
    padding: 0 18px;
    grid-template-columns: minmax(200px, 670px);
    grid-template-rows: 190px;
    grid-auto-flow: row;
    grid-gap: 25px 30px;
    margin-bottom: 96px;
    align-items: center;
    margin-bottom: 48px;
  }
  .middle-slider__main {
    display: flex;
    justify-content: center;
  }
  .middle-slider-inner__wrapper {
    padding: 15px 0 15px 69px;
    margin: 0 -18px;
  }
}

@media (max-width: 592px) {
  .middle-slider-inner__wrapper {
    justify-content: center;
    padding: 15px 0;
  }
  .middle-slider-inner-wrapper__text {
    align-items: center;
    width: 285px;
  }
  .middle-slider-inner-wrapper__text h1 {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .middle-slider-inner-wrapper__text img {
    display: block;
    width: 217px;
    margin-bottom: 20px;
  }
  .middle-slider-inner-wrapper__img {
    display: none;
  }
  .middle-slider-inner__item {
    border-radius: 5px;
    padding: 18px;
  }
  .middle-slider-inner-item__text {
    width: 130px;
  }
  .middle-slider-inner-item__text h2 {
    color: #ffffff;
    font-size: 16px;
  }
  .middle-slider-inner-item__text button {
    font-size: 12px;
    padding: 8px 20px;
    width: 115px;
  }
  .middle-slider-inner-item__icons {
    width: 85px;
    height: 85px;
  }
  .middle-slider-inner-item__icons object {
    width: 100%;
    height: 100%;
  }
}

.popular-toys__inner {
  margin-bottom: 52px;
}

.popular-toys__inner h1 {
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 24px;
}

.popular-toys-inner__slider {
  display: flex;
  margin: 0 -15px;
}

.popular-toys-inner-slider__item {
  width: 100%;
  max-width: 270px;
  max-height: 360px;
  margin: 0 15px;
  border-radius: 5px;
  border: 1px solid #D2D2D2;
  cursor: pointer;
  transition: 0.2s linear;
  padding: 18px 15px 27px 15px;
}

.popular-toys-inner-slider__item img {
  width: 100%;
  max-height: 238px;
}

.popular-toys-inner-slider__item:hover {
  box-shadow: 0px 0px 10px #4DBC08;
  border: none;
}

.popular-toys-inner-slider-item__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}

.popular-toys-inner-slider-item__text p {
  font-size: 14px;
}

.popular-toys-inner-slider-item__text h3 {
  font-size: 18px;
}

@media (max-width: 1020px) {
  .popular-toys__inner {
    padding: 0 18px;
  }
  .popular-toys__inner h1 {
    font-size: 20px;
  }
}

@media (max-width: 760px) {
  .popular-toys__inner {
    margin-bottom: 22px;
  }
  .popular-toys-inner-slider-item__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
  }
  .popular-toys-inner-slider-item__text p {
    font-size: 12px;
  }
  .popular-toys-inner-slider-item__text h3 {
    font-size: 16px;
  }
  .popular-toys-inner__slider {
    overflow: hidden;
    padding: 5px 0;
  }
  .popular-toys-inner-slider__item {
    min-width: 210px;
    margin-right: 0;
  }
}

.action__inner {
  margin-bottom: 50px;
}

.action__inner h1 {
  font-size: 30px;
  margin-bottom: 50px;
  line-height: 34px;
}

.action-inner__items {
  display: flex;
}

.action-inner__item {
  width: 370px;
  height: 167px;
  border-radius: 5px;
  border: 1px solid #D2D2D2;
  margin-right: 30px;
  display: flex;
  position: relative;
}

.action-inner__item h2 {
  font-size: 50px;
  color: #ffffff;
  margin: 40px 45px 0 30px;
}

.action-inner__item p {
  font-size: 16px;
  margin: 25px 10px 0 0;
}

.action-inner-item__img {
  padding: 1px;
}

.action-inner-item__img img {
  margin-right: 30px;
  width: 164px;
  height: 164px;
}

.action-inner-item__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  background-color: #FF4C17;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 8px;
}

@media (max-width: 1020px) {
  .action__inner {
    padding: 0 18px;
    margin-bottom: 24px;
  }
  .action__inner h1 {
    font-size: 20px;
    margin-bottom: 23px;
    line-height: 34px;
  }
  .action-inner__items {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .action-inner__items::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@media (max-width: 760px) {
  .action-inner__item {
    margin-right: 15px;
  }
  .action-inner__item {
    flex-direction: column;
    min-width: 210px;
    max-width: 210px;
    height: 168px;
    align-items: center;
    padding: 0 14px;
  }
  .action-inner__item h2 {
    margin: 15px 0 5px 0;
  }
  .action-inner__item p {
    font-size: 12px;
    margin: 0;
    line-height: 20px;
  }
  .action-inner-item__img {
    padding: 1px;
  }
  .action-inner-item__img img {
    margin: 0;
    width: 94px;
    height: 94px;
  }
}

.popular-brands__inner {
  margin-bottom: 55px;
}

.popular-brands__inner h1 {
  font-size: 30px;
  margin-bottom: 25px;
}

.popular-brands__inner button {
  color: #ffffff;
  font-size: 16px;
  padding: 10px 34px;
}

.popular-brands-inner__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-template-rows: 72px 72px;
  grid-gap: 25px 30px;
}

.popular-brands-inner__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  padding: 5px 0;
}

.popular-brands-inner__item img {
  max-width: 110px;
  max-height: 60px;
}

.popular-brands-inner__btn {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  width: 100%;
}

.popular-toys__like {
  fill: #000;
}

@media (max-width: 1020px) {
  .popular-brands__inner {
    margin-bottom: 55px;
    padding: 0 20px;
  }
  .popular-brands__inner h1 {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

@media (max-width: 760px) {
  .popular-brands-inner__items {
    display: grid;
    grid-gap: 15px 15px;
  }
  .popular-brands-inner__btn {
    margin-top: 27px;
  }
  .popular-brands__inner {
    margin-bottom: 40px;
  }
}

@media (max-width: 592px) {
  .popular-brands-inner__items {
    grid-template-columns: repeat(auto-fill, minmax(112px, 1fr));
  }
}

.seo__inner {
  margin-bottom: 60px;
}

.seo__inner h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.seo__inner p {
  font-size: 12px;
  line-height: 18px;
}

@media (max-width: 1020px) {
  .seo__inner {
    margin-bottom: 10px;
    padding: 0 18px;
  }
  .seo__inner h1 {
    font-size: 20px;
  }
}

.subscribe {
  background-color: #D2D2D2;
}

.subscribe__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
}

.subscribe-inner__text {
  width: 270px;
}

.subscribe-inner__text h2 {
  font-size: 26px;
}

.subscribe-inner__input {
  display: flex;
  width: 100%;
  max-width: 570px;
  border-radius: 5px;
  height: 48px;
}

.subscribe-inner__input input {
  height: auto;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
}

.subscribe-inner__input button {
  color: #ffffff;
  padding: 14px 25px;
  font-size: 16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (max-width: 1020px) {
  .subscribe {
    display: none;
  }
}

.footer__inner {
  display: flex;
  padding: 24px 0 48px 0;
}

.footer-inner__contacts {
  width: 100%;
  max-width: 500px;
}

.footer-inner__contacts img {
  margin-bottom: 24px;
}

.footer-inner__contacts h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

.footer-inner__contacts h3 {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-inner__contacts p {
  font-size: 12px;
}

.footer-inner-contacts__social {
  display: flex;
  margin-bottom: 25px;
}

.footer-inner-contacts__social object {
  margin-right: 22px;
}

.footer__item {
  width: 100%;
  max-width: 250px;
  margin-left: 20px;
}

.footer__item ul {
  margin-top: 30px;
  list-style-type: none;
}

.footer__item ul li {
  margin-bottom: 15px;
}

.footer__item ul li a {
  text-transform: none;
  font-size: 12px;
  text-decoration: none;
}

.footer__item ul li a:hover {
  color: #4DBC08;
}

.footer__item ul li:before {
  font-family: 'icomoon';
  color: #4DBC08;
}

.footer__item h4 {
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
}

.footer-inner-links__more {
  text-decoration: underline !important;
}

@media (max-width: 760px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-inner__contacts {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer-inner__contacts img {
    display: none;
  }
  .footer__item {
    margin-left: 0;
  }
  .footer__item ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s linear;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0;
  }
  .footer__item h4 {
    margin-top: 10px;
    margin-bottom: 0px;
    position: relative;
    transition: 0.2s linear;
    text-align: center;
  }
  .footer__item h4:after {
    content: "\e902";
    font-family: 'icomoon';
    color: #4DBC08;
    font-size: 15px;
    margin-left: 10px;
    top: 4px;
    position: absolute;
    transform: rotate(270deg);
    transition: 0.2s linear;
  }
  .footer__wrap.activefoot:after {
    transform: rotate(360deg);
  }
  .footer__item.activefoot h4:after {
    transform: rotate(360deg);
  }
  .footer__item.activefoot ul {
    max-height: 140px;
  }
}

.nav-line__inner {
  margin: 30px 0;
}

.nav-line__inner ul {
  list-style-type: none;
  display: flex;
}

.nav-line__inner ul li {
  margin-right: 35px;
  position: relative;
  text-decoration: underline;
}

.nav-line__inner ul li:last-child {
  text-decoration: none;
}

.nav-line__inner ul li:after {
  content: '\e901';
  font-family: 'icomoon';
  color: #D2D2D2;
  position: absolute;
  right: -20px;
  top: 3px;
  font-size: 10px;
}

.nav-line__inner ul li:last-child:after {
  content: '';
}

.nav-line__inner ul a {
  text-transform: none;
  font-size: 11px;
}
